<!DOCTYPE html>
<html>
<head>
  <title>SimpleVoting</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>
<%= yield %>

</body>
</html>
